<section class="flex-1 flex flex-col gap-10 w-full">
    <nav class="self-center">
        <div *ngFor="let label of labels; let i = index"
            class="flex items-center gap-2">
            <span class="flex items-center justify-center w-9 h-9 rounded-full"
                [ngClass]="{'bg-white text-black ': currentStep === i, 'bg-zinc-700 text-zinc-400': currentStep! === i}">
                {{i+ 1}}
            </span>
            <span
                [ngClass]="currentStep === i ? 'text-white' : 'text-zinc-600' ">{{label}}</span>
        </div>
    </nav>
    <ng-content></ng-content>
    <footer class="flex justify-between">
        <button
            (click)="previousStep()"
            class="button"
            [ngClass]="{
            'bg-zinc-400 cursor-not-allowed opacity-50':noPreviousStep(), 
            'bg-zinc-700 hover:bg-zinc-600 text-white': !noPreviousStep()
        }"
            [disabled]="noPreviousStep()">Anterior
        </button>
        <button
            *ngIf="noPreviousStep()"
            (click)="onAction()"
            class="button"
            [ngClass]="{
            'bg-zinc-400 cursor-not-allowed opacity-50': !allowNextStep[currentStep], 
            'bg-green-700 hover:bg-green-600 text-white': allowNextStep[currentStep]
        }"
            [disabled]="!allowNextStep[currentStep]">{{actionLabel}}
        </button>
        <button
            *ngIf="!noPreviousStep()"
            (click)="nextStep()"
            class="button"
            [ngClass]="{
            'bg-zinc-400 cursor-not-allowed opacity-50': !allowNextStep[currentStep], 
            'bg-green-700 hover:bg-green-600 text-white': allowNextStep[currentStep]
        }"
            [disabled]="!allowNextStep[currentStep]">Próximo
        </button>
    </footer>
</section>