<section class="flex flex-col gap-2">
    <div class="flex gap-2 self-stretch">
        <app-event-information [event]="event" [classNameProps]="'flex-1'" />
        <app-access-by-qr-code [event]="event" />
    </div>
    <div class="grid grid-cols-3 gap-6 mt-4">
        <app-statistics [text]="'Expectativa de Convidados:'"
            [value]="event.expectedAudience" [image]="'/assets/icons/guests'" />
        <app-statistics [text]="'Confirmações:'" [value]="presents.length"
            [image]="'/assets/icons/confirmed'" />
        <app-statistics [text]="'Total Confirmados:'" [value]="total"
            [image]="'/assets/icons/companions'" />
    </div>
    <button (click)="updateGuestList()" class="button blue self-end mt-12">
        Atualizar lista de convidados
    </button>
    <app-list-guests [guests]="presents" />
    <h3 class="py-2 text-xl font-bold text-white/80">Convidados que confirmaram
        <strong>ausência</strong>
    </h3>
    <app-list-guests [guests]="absent" />
</section>