<div class="flex flex-col items-center">
    <ng-container *ngIf="event; else passwordForm">
        <app-dashboard-event
            [event]="event"
            [presents]="presents"
            [absent]="absents"
            [total]="totalGuests"
            (updateGuestList)="updateGuestList()"></app-dashboard-event>
    </ng-container>
    <ng-template #passwordForm>
        <app-event-password-form
            [password]="password"
            (accessEvent)="loadEvent(event?.id, password)"
            (changePassword)="password = $event"></app-event-password-form>
    </ng-template>
</div>
