<form
    class="flex flex-col items-center gap-4 bg-zinc-900 p-8
    rounded-lg shadow-lg w-[500px] border border-zinc-800">
    <h1 class="text-3xl font-black">Bem-vindo(a)</h1>
    <h2 class="text-lg -mt-3">Administrador</h2>
    <p class="text-sm text-zinc-400">
        Insira sua senha para gerenciar o evento
    </p>
    <app-input
        [value]="password"
        (valueChange)="onChangePassword($event?.toString())"
        placeholder="Digite sua senha"
        type="password"
        [outterClassName]="'w-full'"></app-input>
    <button class="button blue float-end mt-4 font-normal" (click)="onAccessEvent()">
        Acessar Evento
    </button>
</form>
